.coffee-shop{
  padding-bottom: 4rem;

  &__wrapper{
    display: flex;
    justify-content: space-between;
  }

  &__item{
    &-title{
      font-family: Forum,sans-serif;
      color: $yellow;
      font-size: 4rem;
      margin: 0;
      padding-bottom: 2rem;

    }

    &:nth-child(even){
      text-align: right;
    }
  }

  &__price{
    &-item{
      display: grid;
      grid-template-columns: auto 10rem minmax(2.2rem, 3rem);
      gap: 6rem;
      text-transform: capitalize;

      &:not(:last-child){
        padding-bottom: 4rem;
      }
    }
  }

  &__name{

  }
  &__separator{
    position: relative;
    &:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $yellow;
      display: block;
      top:50%;
      transform: translateY(-50%);
    }
  }

  &__cost{
    font-family: Forum,sans-serif;
  }

}


@media(max-width: 48em){
  .coffee-shop{
    &__wrapper{
      flex-wrap: wrap;
    }
    &__item{
      &:last-child{
        margin-left: auto;
      }
      &:not(:last-child){
        padding-bottom: 2.2rem;
      }
    }
  }
}
