.digital {
  padding-bottom: 3.8rem;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 2.2rem;
  }

  &__form {
    padding-bottom: 3rem;

    &-block {

    }

    &-title {
      font-size: 3rem;
      letter-spacing: 0.06rem;
      text-align: center;
      padding-bottom: 3rem;
      line-height: normal;

    }

    &-name {
      font-family: Forum, sans-serif;
      font-size: 3rem;
      line-height: 155%;
      letter-spacing: 0.06rem;
      margin-bottom: 2rem;
      font-style: normal;
      font-weight: 400;
    }

    &-wrapper {
      border: .3rem solid $yellow;

    }

    &-group {
      width: 56rem;
      background-color: $yellow;
      margin: 2rem 1.8rem 2rem;
      padding: 2rem 2rem 0 2rem;
      display: flex;
      flex-direction: column;
    }

    &-control {

    }

    &-btn {
      padding-left: 4rem;
      padding-right: 4rem;
      display: block;
      margin: 0 auto;
      font-size: 2rem;
      height: auto;
    }

  }

  &__info {
    &-card {
      max-width: 45.6rem;
      text-align: right;
    }

    &-title {
      font-family: Forum, sans-serif;
      padding-bottom: 3.2rem;
      font-size: 3rem;
      letter-spacing: 0.06rem;
      line-height: 1.2;
    }

    &-text {
      letter-spacing: 0.04rem;
      padding-bottom: 3.5rem;
    }

    &-btns {
      display: flex;
      justify-content: flex-end;


      button {

        &:not(:last-child) {
          margin-right: 2rem;
        }
      }
    }
  }
}

@media(max-width: 48em) {
  .digital {
    &__wrapper {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__info {

      &-btns {
        justify-content: center;
      }

      &-card {
        text-align: center;
      }


    }
  }
}


