.favorites{
  padding-bottom: 4rem;

  &__title{
    margin-top: 2.4rem;
    margin-bottom: 3.2rem;
    font-weight: bold;
    letter-spacing: 0;
    line-height: normal;
  }
  &__form{

    &-book{
      display: flex;
      gap: 8rem;
      padding-bottom: 3rem;
    }
  }

  &__cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4rem;
  }

  &__card{
    width: 59rem;
    padding: 0;
    position: relative;

    &-wrapper{
      padding-left: 1.9rem;
      padding-bottom: 1.5rem;
      padding-top: 1.5rem;
      border: .1rem solid $dark1;
      width: 55rem;
      height: 55.5rem;
      display: flex;
      flex-direction: column;
    }


    &-staff{
      font-family: Forum,sans-serif;
      padding-bottom: 2.5rem;
      position: relative;
      //padding-left: 0.4rem;
      &:after{
        content: '';
        position: absolute;
        width: 6rem;
        height: 0.1rem;
        background-color: $yellow;
        bottom: 2.5rem;
        left: 0.4rem;
      }
    }
    &-name,&-by{
      font-size: 1.5rem;
      font-weight: 700;
    }

    &-name{
      padding-bottom: 1rem;
      text-transform: uppercase;
    }

    &-by{
      padding-bottom: 2.5rem;
    }

    &-description{
      font-size: 1.5rem;
      text-transform: capitalize;
      line-height: 266.667%;
      padding-right: 17rem;
      padding-bottom: 1.5rem;
    }
    &-img{
      width: 20rem;
      height: 30rem;
      position: absolute;
      right: 0;
      bottom: 0;
      img{
        width: 100%;
        height: auto;
      }
    }

    &-btn{
      margin-right: auto;
      margin-top: auto;
      font-size: 1rem;
    }
  }

}


@media (max-width: 48em) {
  .favorites{
    &__cards{
      justify-content:center;
    }

  }
}
