.our-contacts{
  &__wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 2.2rem;

    p{
      padding: 0 0 2rem;
      text-transform: capitalize;

      .b{
        margin-left: 1rem;
        font-weight: bold;
      }
    }
  }

  &__info{
    padding-bottom: 4rem;
    font-weight: bold;
    &-2{
      padding-top: 2rem;
      padding-bottom: 2rem;
      font-weight: bold;
    }
  }
}
