.our-contacts {
  padding-bottom: 2.6rem;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 2.2rem;

    p {
      padding: 0 0 2rem;
      text-transform: capitalize;

      .b {
        margin-left: 1rem;
        font-weight: bold;
      }
    }
  }

  &__item {
    a {
      color: $dark1;
      margin-left: .9rem;
    }

    img {
      width: 69.6rem;
      height: auto;
    }
  }

  &__info {
    padding-bottom: 4rem;
    font-weight: bold;

    &-2 {
      padding-top: 2rem;
      padding-bottom: 2rem;
      font-weight: bold;
    }
  }
}


@media(hover: hover) {
  .our-contacts {
    &__item {
      a{
        &:hover {
          color: $yellow;
        }
      }
    }
  }
}

@media(max-width: 64em) {
  .our-contacts {
    &__wrapper {
      flex-wrap: wrap;
    }

    &__item{

      &:not(:last-child){
        padding-bottom: 8rem;
      }
      &:last-child{
        width: 100%;
        text-align: center;
      }
    }
  }
}
