@import "../abstracts/variable";

.welcome{
    background-color: $dark1;
  .container{
    height: 60rem;
    background-image: url("./img/welcome/bg.jpg");
    background-repeat: no-repeat;
  }

  &__wrapper{
    width: 60rem;
    height: 22rem;
    padding: 4rem;
    background: $dark2;
    color: $light;

    span{
      display: block;
      text-align: center;
    }
  }

}
