section#about.about
    .container
        .title
            h2 About
        p.text-center.about__text The Brooklyn Library is a free workspace, a large number of books and a cozy coffee shop inside

        include ../component/slider
        //include ../component/slider1
        //include ../component/slider2
        //include ../component/slider3
        include ../component/slider4






