section#digital.digital
    .container
        .title
            h2 Digital Library Cards
        .digital__wrapper
            .digital__form-block
                .digital__form-title Find your Library card
                .digital__form-wrapper
                    form(class="digital__form")
                        .digital__form-group
                            .digital__form-name Brooklyn Public Library
                            input.digital__form-control(name='name', type="text", placeholder="Reader's name", pattern="[A-Za-z]{1,15}\.[A-Za-z]{1,15}")
                            input.digital__form-control(name='card', type="text", placeholder='Card number', pattern="[A-Za-z0-9]{9}")

                        button.digital__form-btn(type="submit", name="asdf") Check the card
            .digital__info-card
                .digital__info-title Get a reader card
                .digital__info-text  You will be able to see a reader card after logging into account or you can register a new account
                .digital__info-btns
                    button.digital__info-btn-up.open-modal-register Sign Up
                    button.digital__info-btn-in.open-modal-login Log In

