section#contacts.our-contacts
    .container
        .title
            h2 Our Contacts
        .our-contacts__wrapper
            .our-contacts__item
                .our-contacts__info For All Library inquiries:
                p Please Call (617) 730-2370
                p For TTY service, please call (617) 730-2370
                p Putterham Library: (617) 730-2385
                .our-contacts__info-2 Senior Staff
                p Library Director:
                    span.b Amanda Hirst


            .our-contacts__item
                img(src=require('/img/our-contacts/map.jpg'), alt="map")
