include ./_mixin
-
    const social = [
        {
            'href': 'https://twitter.com/html5doctor',
            'name': 'twitter',
            'class': 'twitter'
        },
        {
            'href': 'https://www.instagram.com/beeple_crap',
            'name': 'instagram',
            'class': 'instagram'
        },
        {
            'href': 'https://www.facebook.com/directory/groups/I-620554-620736',
            'name': 'facebook',
            'class': 'facebook'
        },
    ];

footer.footer
    .container
        .footer__top
            .footer__item
                a(href="https://www.google.ru/maps/@40.6956591,-73.9916167,20z?entry=ttu" class="address" target="_blank")
                    .address__begin 286 Cadman Plaza, New York,
                    .address__end NY 11238, United States
                .social-networks
                    ul.social-networks__list
                        each soc in social
                            li.social-networks__item
                                a(href=soc.href class="social-networks__link " + soc.class target="_blank" rel="noopener")
                                    +main-svg('', './img/sprite-images/network-sprite.svg#' + soc.class)
            .footer__item
                .day-time
                    .day Mon - Fri
                    .time 08:00 am - 07:00 pm
                .day-time
                    .day Sat - Sun
                    .time 10:00 am - 06:00 pm

        hr
        .footer__bottom
            div 2023
            .footer__name-course
                a(href="https://rs.school/" target="_blank") The Rolling Scopes School
            div
                a(href="https://github.com/vladimirovicp" target="_blank") vladimirovicp


