-
    let menu = [
        {
            'name': 'About',
            'href': '#'
        },
        {
            'name': 'Favorites',
            'href': '#'
        },
        {
            'name': 'Coffee shop',
            'href': '#'
        },
        {
            'name': 'Contacts',
            'href': '#'
        },
        {
            'name': 'Library Card',
            'href': '#'
        },
    ];

header.header
    .container
        .header__site-name Brooklyn Public Library
        nav.header__menu
            .menu__mobile.is-mobile
                .menu__icon
                    span
            .menu__wrapper
                ul.menu__list
                    each item in menu
                        li.menu__item
                            a(href=item.href class="menu__link") !{item.name}
        .header__profile
            img(src=require('../img/svg/icon_profile.svg'), alt="profile")


