-
    let menu = [
        {
            'name': 'About',
            'href': '#about'
        },
        {
            'name': 'Favorites',
            'href': '#favorites'
        },
        {
            'name': 'Coffee shop',
            'href': '#coffee-shop'
        },
        {
            'name': 'Contacts',
            'href': '#contacts'
        },
        {
            'name': 'Library Card',
            'href': '#digital'
        },
    ];

header.header
    .container
        h1.header__site-name Brooklyn Public Library
        nav.header__menu.menu
            .menu__mobile.is-mobile
                .menu__icon
                    span
            .menu__wrapper
                ul.menu__list
                    each item in menu
                        li.menu__item
                            a(href=item.href class="menu__link") !{item.name}
        .header__profile
            img(src=require('../img/svg/icon_profile.svg'), alt="profile")


