-
    let menu = [
        {
            'name': 'About',
            'href': '#about'
        },
        {
            'name': 'Favorites',
            'href': '#favorites'
        },
        {
            'name': 'Coffee shop',
            'href': '#coffee-shop'
        },
        {
            'name': 'Contacts',
            'href': '#contacts'
        },
        {
            'name': 'Library Card',
            'href': '#digital'
        },
    ];

header.header
    .container
        h1.header__site-name Brooklyn Public Library
        nav.header__menu.menu
            .menu__mobile.is-mobile
                .menu__icon
                    span
            .menu__wrapper
                ul.menu__list
                    each item in menu
                        li.menu__item
                            a(href=item.href class="menu__link") !{item.name}
        .header__profile.profile
            a(href="#" class="header__profile-link profile__link")
                img(src=require('../img/svg/icon_profile.svg'), alt="profile")
                div
                    span IA
            .profile__wrapper
                .profile__title Profile
                ul.profile__anonym.active
                    li
                        a(href="#" class="open-modal-login") Log In
                    li
                        a(href="#" class="open-modal-register") Register
                ul.profile__auth
                    li
                        a(href="#" class="open-modal-profile") My profile
                    li
                        a(href="#" class="open-modal-log-out") Log Out


