.modal.modal-show
    .modal_content
        h2 Login
        .form__group
            input(type="text" class="form__input" id="login-mail" required="")
            label(for="login-mail" class="form__label") E-mail or readers card
        .form__group
            input(type="text" class="form__input" id="login-password" required="")
            label(for="login-password" class="form__label") Password

        button(class="btn" type="submit") Log In


