.modal.modal__form-login
    span.modal__close
    .modal__content
        h2.modal__title Login
        form(class="form__login modal__form")
            .modal__form-group
                label(for="login-mail" class="modal__form-label") E-mail or readers card
                input(type="email" class="modal__form-input" id="login-mail")
            .modal__form-group
                label(for="login-password" class="modal__form-label") Password
                input(type="password" class="modal__form-input" id="login-password")
            button(class="btn" type="submit") Log In
        .modal__footer
            span Don’t have an account?
            a(href="#" class="open-modal-register") Register

.modal.modal__form-register
    span.modal__close
    .modal__content
        h2.modal__title Register
        form(class="form__register modal__form")
            .modal__form-group
                label(for="register-name" class="modal__form-label") First name
                input(type="text" class="modal__form-input" id="register-name")
                .modal__form-group
                    label(for="register-l-name" class="modal__form-label") Last name
                    input(type="text" class="modal__form-input" id="register-l-name")
            .modal__form-group
                label(for="register-mail" class="modal__form-label") E-mail
                input(type="email" class="modal__form-input" id="register-mail")
            .modal__form-group
                label(for="register-password" class="modal__form-label") Password
                input(type="password" class="modal__form-input" id="register-password")
            button(class="btn" type="submit") Sign Up
        .modal__footer
            span Already have an account?
            a(href="#" class="open-modal-login") Login


