extends layout/main

block variables_layout
    -
        let title = 'Brooklyn Public Library';
        let curPage = '/';
block content
        main
            include section/welcome
            include section/about
            include section/favorites
            include section/coffee-shop
            include section/our-contacts
            include section/digital
