@import "./abstracts/variable";




*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

html {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size:0.694vw;  // 10/ (1440 / 100)
  line-height: 1;
  margin: 0;
  padding: 0;
  min-width: 320px;
}

body {
  -webkit-animation: bugfix infinite 1s;
  margin: 0;
  padding: 0;
  background-color: $light;

  color: #140202;

  font-size: 2rem;
  letter-spacing: 2px;
}

.container {
  max-width: 144rem;
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}

h1,h2,h3,h4,h5{
  font-family: 'Forum', sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1{
  line-height: 1.25;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0;
}

h1,h2{
  font-size: 4rem;
}

a{
  color: $light;
  text-decoration: none;
  font-size: 2rem;
}

@media (max-width: 48em) {

  html {
    //font-size: 0.651vw;
    font-size:1.34vw;
  }

  .container {
    width: 100%;
  }

  .is-desktop{
    display: none!important;
  }
}

@media (min-width: 48em) {
  .is-mobile{
    display: none!important;
  }
}

@media (min-width: 90em) { //1440

    html {
        font-size:10px;
    }
  .container {

  }
}

