.footer{
  background: $dark2;
  color: $light;

  &__top{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 3rem;
    line-height: 133.333%;
    font-size: 1.5rem;

    .address{
      padding-bottom: 1rem;
    }

    .day-time{
      text-align: right;

      &:not(:last-child){
        padding-bottom: 1rem;
      }
    }

  }
  &__bottom{
    display: flex;
    justify-content: space-between;
    padding: 4.4rem 0;
  }
}
