.form{
  &__group{
    &-radio{
      &:first-child{
        margin-left: -0.5rem;
      }
    }
  }

  &__error{
    position: absolute;
    font-size: 0;
    letter-spacing: normal;
    color: red;
    text-align: center;
    top: -2rem;
    width: 100%;
    transition: font-size 0.5s;
    &.active{
      font-size: 1rem;
    }
  }


  &__button{
    &-radio{
      height: 1.8rem;
      width: 1.8rem;
      border-radius: 50%;
      border: .2rem solid $dark1;
      display: block;
      position: absolute;
      left: 0.5rem;
      top: 50%;
      transform: translateY(-50%);

      &::after{
        content:"";
        display: block;
        height: .7rem;
        width: .7rem;
        border-radius: 50%;
        background: $dark1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
        transition: .2s all;
      }
    }
  }

  &__label{
    &-radio{
      position: relative;
      cursor: pointer;
      padding-left: 4.3rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-right: 0.5rem;
      letter-spacing: 0;
    }
  }

  &__input{
    &-radio{
      display: none;

      &:checked ~ .form__label-radio {
        font-weight: bold;
        .form__button-radio::after{
          opacity: 1
        }
      }


    }
  }

}
