@import "./abstracts/variable";

.header {
  background-color: $dark1;
  color: $light;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    gap: 4rem;
  }
  &__site-name {
    font-family: 'Forum', sans-serif;
    font-size: 3rem;
    letter-spacing: 0.6px;
  }
  &__menu {
    margin-left: auto;
  }
  &__profile{
    display: flex;
  }
}

@media(max-width: 64em) {
  .header {
    position: relative;
    &__site-name {
    }

    &__menu {
      margin-left: unset;
      order: 3;
    }

    &__profile{
      margin-left:auto;
      order: 2;
      z-index: 20;
    }
  }

}
