@import "./abstracts/variable";

.header {
  background-color: $dark1;
  color: $light;


  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    gap: 4rem;
  }

  &__site-name {
    font-family: 'Forum', sans-serif;
    font-size: 3rem;
  }

  &__menu {
    margin-left: auto;
  }
}

@media (max-width: 48em) {

  .header {
    &__site-name {
      font-size: 6rem;
    }
  }

}
