.menu{

  &__list{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  &__item{
    list-style: none;
    letter-spacing: 0;
    &:not(:last-child){
      margin-right:3rem;
    }
  }
  &__link{

  }

}

@media (max-width: 48em) {
  .menu{
    .container{}
    &__wrapper{
      position: fixed;
      width: 33.2rem;
      //height: 57rem;
      padding: 10rem 0;
      background-color: $dark1;
      right: -100%;
      //right: 0;
      transition: right 0.3s ease 0s;
      overflow: auto;

      &.open{
        top: 0;
        right: 0;
      }
    }
    &__mobile{
      width: 4.5rem;
      height: 2rem;
    }
    &__icon{
      z-index: 5;
      display: block;
      position: relative;
      cursor: pointer;
      width: 100%;
      height: 100%;

      span, &:before, &:after{
        left: 0;
        position: absolute;
        height: .2rem;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: $light;
      }

      &:before, &:after{
        content: '';
      }

      &:before{
        top: 0;
      }
      &:after{
        bottom: 0;
      }

      span{
        top: 50%;
        transform: scale(1) translate(0, -50%);
      }

      &.open{
        span{
          transform: scale(0) translate(0, -50%);
        }

        &::before{
          top:50%;
          transform: rotate(-45deg) translate(0, -50%);
        }

        &::after{
          bottom:50%;
          transform: rotate(45deg) translate(0, 50%);
        }
      }
    }

    &__list{
      flex-direction: column;
      margin-left: 0;
    }

    &__item {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 3rem;
      }
    }
  }
}

@media (min-width: 48em) {
  .menu{
    &__item{

    }
  }
}
