.slider{

  //width: 100%;
  position: relative;
  padding-bottom: 9.6rem;


  &__wrapper{
    width: 100%;
    height: 56rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }

  .im {
    position: absolute;
    top: 0;
    width: 45rem;
  }


  #i1 {left: 0rem;}
  #i2 {left: 47.5rem;}
  #i3 {left: 95rem;}

  #i4 {left: 142.5rem;}
  #i5 {left: 142.5rem;}

  #nz, #vp {position: absolute; top: 280px; cursor: pointer;}
  #nz {
    left: 40rem;
    z-index: 5;
  }
  #vp {
    right: 40rem;
    z-index: 5;
  }

  &__pagination{

    position: absolute;
    bottom: 3.2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

  }

  &__bullet{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 2.6rem;
    height: 2.6rem;

    span{
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 50%;
      background-color: $dark2;
      display: inline-block;

    }

    &.active{
      span{
        background-color: $yellow;
      }
    }

    //&:not(:first-child){
    //  margin-left: 1rem;
    //}
  }

  &__button-prev{

  }

  &__button-next{

  }

}


//@media (max-width: 48em) {
//  .slider{
//
//    &__wrapper{
//      width: 45rem;
//    }
//
//    #nz, #vp {position: absolute; top: 280px; cursor: pointer;}
//    #nz {
//      left: 0rem;
//      z-index: 5;
//    }
//    #vp {
//      right: 0rem;
//      z-index: 5;
//    }
//  }
//}
