.modal{
  position: absolute;
  //box-sizing: border-box;
  //padding: 2em;
  background: white;
  transform: scale(0);
  //z-index: -777;
  opacity: 0;
  pointer-events: none;
  transition: 300ms all;

  top: 50vh;
  left: 50%;
  //transform: scale(0);
}

.modal-show {
  z-index: 77;
  pointer-events: all;
  //cursor: pointer;
  opacity: 1;
  transform: scale(1) translate(-50%, -50%);
}