doctype html
block variables_layout

html(lang= 'en')
    head
        meta(charset='utf-8')
        link(rel="icon" type="image/x-icon" href="./favicon.ico")
        link(rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="./img/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="./img/favicon/favicon-16x16.png")
        link(rel="manifest" href="./img/favicon/site.webmanifest.json")
        title #{title}

    body
        include ../component/header
        block content
        include ../component/footer
