doctype html
block variables_layout

html(lang= 'en')
    head
        meta(charset='utf-8')
        link(rel="icon" type="image/x-icon" href="./favicon.ico")
        title #{title}

    body
        include ../component/header
        block content
        include ../component/footer
